body{
    background-color: #5E5654;
    color: black;
    /* margin: 0; */
    /* padding: 0; */
    font-family: Arial, Helvetica, sans-serif;
}
.top-image{
    background-image: url(buncha-images/super\ secure\ house.webp);
    background-position: center;
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-image p{
    background-color: #896b66c7;
    color: black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;

}
.text-top{
    width: 50%;
}
.buttons-hub{
    display: flex;
    height: 400px;
    justify-content: space-between;
    /* hehe i got it     */
    /* work damn you */
    /* align-content: space-between; */
    /* yeah no idea why this wont work */
}
.button{
    margin-top: 10px;
    width: 200px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    background-color: #D9D9D9;
    color: black;
}
.title-for-cards-one{
    font-size: 20px;
    text-align: center;
}
.img-and-text{
    display: flex;
    justify-content: center;
    width: 100%;
    /* margin-left: 50px; */
    margin-right: 50px;
}
img.card{
    height: 300px;
    border-radius: 10px;
}
.img-and-text p{
    width: 30%;
    background-color: black;
    padding: 10px;
    border-radius: 10px;

}
.lil-section{
    width: 100%;
    margin-top: 30px;
    background-color: rgba(7, 28, 46, 0.471);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.lil-section h3{
    font-size: 30px;
}
footer{
    text-align: center;
    margin-bottom: 30px;
}
/* index above */












/* automationn below */


.top-long-cards{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    /* not the best but its whatever */
}
.long-card{
    background-color: black;
    width: 25%;
    padding: 10px;
    border-radius: 10px;
}
.long-card p{
    background-color: rgba(187, 46, 46, 0.463);
    /* border-radius: 1000; */
    padding: 10px;
    /* margin-top: 40px; */
    width: 80%;
    justify-content: center;
    border-radius: 10px;
    margin: 0 auto;
}
.six-long-cards{
    justify-content: space-between;
}
.top-center-text-two h3{
    text-align: center;
}
.top-center-text-two h4{
    text-align: center;
}
.top-five-boxes-two{
    /* width: 27%; */
}
.box-large{
    background-color: rgba(0, 0, 0, 0.4);
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    /* justify-content: center; */
    /* align-items: center; */
    /* and... again why no center? */
    justify-items: center;
    justify-content: center;
}
.box-large .img-for-large-card{
    width: 300px;
    /* justify-content: center; */
    /* justify-content: space-around; */

}
.box-large h2{
    background-color: rgba(0, 0, 0, 0.57);
    width: 200px;
    border-radius: 10px;
    text-align: center;
    /* bruh really...? CENTER AHHH */
}
.top-five-boxes-two{
    display: flex;
    justify-content: space-around;
}
.small-img{
    width: 175px;
    /* make sure ot make this fit */
}
.card-name{
    justify-content: left;
}
.lil-box{
    background-color: rgba(0, 0, 0, 0.43);
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    /* justify-content: center; */

}
.small-card-name{
    background-color: black;
    width: 80%;
    border-radius: 10px;
    padding: 5px;
}
.three-boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.small-card-name h3{
    font-size: 15px;
}
/* here is where the code for the card layout is
for automation */

.bot-automation p{
    width: 600px;
    text-align: center;
    justify-content: center;
    /* again... with the no center... REALLY */
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    
}
/* above is where automation is being heald */










.top-section{
    display: block;
}

.top-section h3{
    /* display: flex; */
    width: 300px;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;
    /* why did margin work...??? */
}
.top-section h4{
    /* justify-content: center; */
    /* margin: 0 auto; */
    margin-bottom: 40px;
    /* yes again the centering error continues :/ */
}
.mid-text{
    width: 800px;
    margin: 0 auto;
}
/* lets get started on the 2 large cards first */
.two-large-cards-three{
    background-color: rgb(53, 6, 6);
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    /* justify-content: space-around; */
    /* margin: 0 auto; */

}
.two-large-three{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.two-large-cards-three img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    /* display: flex; */
}
.two-large-cards-three h3{
    width: 90%;
    margin: 0 auto;
}
.two-large-cards-three p{
    width: 70%;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    /* justify-self: center; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* alright above is where the two large cards are */

/* lets get started with the 3 bott carsd */
.three-sections{
    display: flex;
}
.page-three-bott-cards{
    margin-top: 20px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
.single-card-three {
    width: 80%;
    background-color: rgba(219, 74, 74, 0.507);
    padding: 10px;
    border-radius: 10px;

}
.single-card-three img{
    width: 100%;
    border-radius: 10px;
}
.single-card-three h3{
    text-align: center;
}
.single-card-three p{
    padding: 10px;
    background-color: rgba(52, 134, 206, 0.644);
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
}
/* theres the three boxes */

.mid-section{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}