body{
    background-color: #5E5654;
    color: black;
    /* margin: 0; */
    /* padding: 0; */
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
    margin-right: 40px;
}
h2 h3 h4 h5{
    font-family:'Times New Roman', Times, serif
}
a{
    text-decoration: none;
}
.card-hub:nth-child(even) .img-and-text {
    flex-direction: row-reverse;
    /* since card hub is the parent... and img and text is child... this works 👍 */
}
a{
    text-decoration: none;
}
.top-image{
    background-image: url(buncha-images/super\ secure\ house.jpg);
    background-position: center;
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-image p{
    background-color: #896b66c7;
    color: black;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-around;

}
h2 h3 h4 h5{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    font-size: .9em;
}
.text-top{
    width: 50%;
}
.buttons-hub {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
}
.button{
    font-size: 1.3em;
    /* margin-top: 10px; */
    width: 200px;
    height: 20px;
    padding: 10px;
    border-radius: 20px;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    background-color: #D9D9D9;
    color: black;
}

.card-hub h2{
    font-size: 20px;
    text-align: center;
}
.img-and-text{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    width: 100%;
    /* margin-left: 50px; */
    margin-right: 50px;
}
.card-hub{
    /* display: flex; */
    flex-direction: column-reverse;
}
.img-card{
    height: 300px;
    border-radius: 10px;
}
.img-and-text p{
    width: 30%;
    background-color: #8743377d;
    padding: 10px;
    border-radius: 10px;

}
.lil-section{
    width: 100%;
    margin-top: 30px;
    background-color: #8743377d;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.lil-section h3{
    font-size: 30px;
}
footer{
    text-align: center;
    margin-bottom: 30px;
}
/* index above */












/* automationn below */
.dropdown {
    
    /* justify-content: center; */
    /* text-align: center; */
    /* margin-top: 10px; */
    position: relative;
    display: inline-flex;
    /* display: in; */
    /* margin-right: auto; */
    /* justify-content: center; */
    /* text-align: center; */

}

.dropbtn {
    background-color: #896b66d7;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
    
    /* margin: 0 auto; */
    /* justify-content: center; */
    /* margin-left: auto; */
    /* justify-items: center; */
}
.dropdown-content {
    display: none;
    position: absolute;
    margin: 0 auto;
    background-color: #f1f1f1;
    min-width: 300px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}
.dropdown-content p {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the button when hovered over */
.dropdown:hover .dropbtn {
    background-color: #896b6681;
}


.top-long-cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
    gap: 20px; 
}

.long-card {
    background-color: #87433796;
    border-style: solid;
    width: 30%; /* Fixed width */
    height: 400px; /* Fixed height */
    padding: 10px;
    border-radius: 10px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}

.long-card h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.long-card p {
    background-color: #896b66c7;
    padding: 10px;
    width: 80%; 
    border-radius: 10px;
    margin: 0 auto;
    flex-grow: 1;
    /* this one ^ */
    overflow: hidden;
}
.six-long-cards{
    justify-content: space-between;
}
.top-center-text-two h3{
    text-align: center;
}
.top-center-text-two h4{
    text-align: center;
}
.top-five-boxes-two{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    /* flex-direction: column; */
    /* margin: 0 auto; */
    /* width: 27%; */
}

.box-large{
     /* margin-top: 10px; */
    background-color: #896b6681;
    width: 80%;
    border-radius: 10px;
    padding: 5px;
    /* margin: 0 auto; */
    text-align: center;
    width: auto;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* margin: 0 auto; */
    background-color: #87433796;
    /* width: 30%; */
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    /* justify-content: center; */
    /* align-items: center; */
    /* and... again why no center? */
    /* text-align: center; */
    justify-items: center;
    justify-content: center;
    text-align: center;
}
.box-large .img-for-large-card{
    margin: 0 auto;
    width: 800px;
    margin-bottom: 10px;
    /* justify-content: center; */

}

.box-large h2{
    background-color: #896b66c7;
    width: 200px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    /* bruh really...? CENTER AHHH */
}
.top-five-boxes-two{
    display: flex;
    justify-content: space-between;
}
.small-img{
    width: 400px;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 10px;
    /* justify-items: center; */
    /* margin: 0 auto; */
    /* margin-left: auto; */
    
    /* make sure ot make this fit */
}
.card-name{
    justify-content: left;
}

.lil-box{
    /* background-color: rgba(0, 0, 0, 0.43); */
    /* width: 30%; */
    /* height: 50%; */
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    background-color: #87433796;
    
    /* justify-content: center; */

}
.lil-box h3{
    /* add stuff here lmao */
    color: black;
    margin: 0 auto;
    width: 100px;
    height: 30px;
    border:solid;
    border: black;
    /* justify-self: center; */
    /* align-items: center; */
    /* align-self: center; */
}
.large-card-name{
     /* margin-top: 10px; */
     background-color: #896b6681;
     width: 80%;
     border-radius: 10px;
     padding: 5px;
     /* margin: 0 auto; */
     text-align: center;
     width: auto;
}

.small-card-name{
    /* margin-top: 10px; */
    background-color: #896b6681;
    width: 80%;
    border-radius: 10px;
    padding: 5px;
    /* margin: 0 auto; */
    text-align: center;
    width: auto;
}
.three-boxes-two{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.three-boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.small-card-name h3{
    margin: 0 auto;
    font-size: 15px;
}
/* here is where the code for the card layout is
for automation */

.bot-automation p{
    width: 600px;
    margin: 0 auto;
    /* background-color: black; */
    /* align-items: center; */
    align-self: center;
    /* justify-content: center; */
    text-align: center;
    justify-content: center;
    /* again... with the no center... REALLY */
    /* background-color: black; */
    padding: 10px;
    border-radius: 10px;
    
}
/* above is where automation is being heald */










.top-section {
    display: flex;
    flex-direction: column;
    /* align-items: center; Center children */
}

.top-section h3 {
    margin-top: 20px;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* margin worked here */
}
.top-section h4{
    /* justify-content: center; */
    /* margin: 0 auto; */
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
    /* yes again the centering error continues :/ */
}
.mid-text{
    width: 800px;
    margin: 0 auto;
}
/* lets get started on the 2 large cards first */
.two-large-cards-three{
    background-color: #87433796;
    text-align: center;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    /* justify-content: space-around; */
    /* margin: 0 auto; */

}
.two-large-three{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.two-large-cards-three img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    /* display: flex; */
}
.two-large-cards-three h3{
    width: 90%;
    margin: 0 auto;
}
.two-large-cards-three p{
    width: 70%;
    background-color: #896b6681;
    padding: 10px;
    border-radius: 10px;
    /* justify-self: center; */
    margin: 0 auto;
    margin-top: 20px;
}
.three-bott-imgs{
    width: 200px;
    height: 200px;
}
/* alright above is where the two large cards are */

/* lets get started with the 3 bott carsd */


.page-three-bott-cards{
    height: 10%;
    width: 500px;
    /* i have no idea what the above does but you should keep it lmao */
    margin-top: 20px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.three-sections {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.single-card-three {
    width: 80%;
    /* use above to test width of small cards */
    background-color: #87433796;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.single-card-three img {
    /* width: 100%;
    height: 200px; */
    border-radius: 10px;
}

.single-card-three h3, .single-card-three p {
    text-align: center;
    justify-self: center;
}

.single-card-three p {
    background-color: #896b66c7;
    padding: 10px;
    border-radius: 10px;
    /* margin-top: 20px; */
}



/* theres the three boxes */

.mid-section{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}